html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: #ECF2F8;
}

* {
    font-family: "Barlow Semi Condensed", sans-serif;
}

main{
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 272px 252px;
    row-gap: 22px;
    column-gap: 26px;
    overflow: hidden;
}

.message{
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 17.5px;
}

.message01{
   grid-column: 1 / span 2;
   grid-row: 1 / 1;
   background-color: #733FC8;
}

.message02{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background-color: #48556A;
}

.message03{
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    background-color: #ffffff;
    gap: 19px;

}

.message04{
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    background-color: #ffffff;
}

.message05{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #19202D;
}

#aspas{
    z-index: 1;
    position: absolute;
    translate: 120px -85px;
}

.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    margin: 0;
}

.box04{
    right: 20px;
}

.box03{
    right: 30px;
    top: 1px;
}

.box05{
    right: 145px;
}

.perfil{
    margin: 0;
    width: 50%;
    font-size: 12.0px;
    color:#48556A;
    font-weight: 500;
}

span{
    opacity: 50%;
    font-size: 10.5px;
}

.title{
    font-weight: 600;
    font-size: 18.5px;
    z-index: 5;
    margin: 0;
}

.text{,
    font-weight: 500;
    font-size: 12.0px;
    margin: 0;
    line-height: 1.45;
    z-index: 5;
    position: relative;
}

.title01, .title02, .title05, .text01, .text05 {
    width: 85%;
}

.title02, .title03, .title04, .text02, .text04{
    width: 73%;
}

.title03, .title04, .text03, .text04 {
    color: #48556A;
}

.text01, .text02, .text05{
    color: #CFCFCF;
}

.title01, .title02{
    color: white;
}

.title05{
    color: #ECF2F8;
}

.text03, .text04{
    opacity: 70%;
}

.text03{
    margin-top: 3.5px;
    line-height: 1.505;
    width: 75%;
}